name: Alphavantage Data Sync
permissions:
  contents: read

on:
  workflow_dispatch:
  schedule:
  - cron: '30 23 * * *'
jobs: 
  alphavantage-action:
    runs-on: ubuntu-latest 
    steps:
      - uses: actions/checkout@v6 
          
      - uses: futugyou/goproject/alphavantage-server@master
        id: alphavantage
        with:
          mongodb_url: '${{ secrets.MONGODBURL }}' 
          db_name: '${{ secrets.MONGODB_ALPHAVANTAGE_NAME }}' 
          alphavantage_api_key: '${{ secrets.ALPHAVANTAGE_API_KEY }}' 
