name: AWS Data Sync
permissions:
  contents: read

on:
 workflow_dispatch:
 schedule:
 - cron: '30 18 * * *'
jobs: 
  syncdata-action:
    runs-on: ubuntu-latest 
    steps:
      - uses: actions/checkout@v6 
          
      - uses: futugyou/goproject/aws-web@master
        id: syncdata
        with:
          call: 'callfromgithubaction'
          mongodb_url: '${{ secrets.MONGODBURL }}' 
          db_name: '${{ secrets.MONGODBNAME }}' 
          accountid: '${{ secrets.ACCOUNTID }}' 
          aws_config_sync: '${{ secrets.AWS_CONFIG_SYNC }}'
